Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
.idea
protected/vendor/*
protected/runtime/*
/yii

build
assets-map.json
node_modules
.tag*
public/webim/*
public/r
public/h
public/c
public/c/as
/plan.md
*.back
